[Unit]
Description = cryport file sync service
After = network.target

[Service]
PIDFile = /home/gitlab-runner/.tmp/cryportsyncservice/cryportsyncservice.pid
User = gitlab-runner
Group = gitlab-runnner
WorkingDirectory = /home/gitlab-runner/.tmp/cryportsyncservice/cryportsyncservice
ExecStart = /bin/bash /home/gitlab-runner/.tmp/cryportsyncservice/cryport-rsync.sh
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /home/gitlab-runner/.tmp/cryportsyncservice/
PrivateTmp = true

[Install]
WantedBy = default.target