[Unit]
Description = cryport file sync service
After = network.target

[Service]
User=gitlab-runner
Group=gitlab-runner
WorkingDirectory = ${HOME}/.tmp
PIDFile = ${HOME}/.tmp/cryport-sync/service.pid
ExecStart = /bin/bash /usr/local/bin/cryport-rsync
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf ${HOME}/.tmp/cryport-sync/
PrivateTmp = true

[Install]
WantedBy = multi-user.target
